In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame(data=[[1,2,3], [1,2,3], [1,2,3]], columns=['A', 'B', 'C'])

In [7]:
df

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3